*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: darkkhaki;
}

.container-header {
    width: 100%;
    height: 200px;
    background-color: antiquewhite;
}

.container-section-promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    justify-content: center;
}

.items-article {
    width: 300px;
    height: 100px;
    background-color: aqua;
}
